<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
    </div>
    
    <ul class="user-tabs">
      <li class="active"><%= link_to "お気に入り", favorite_path(current_user.id), method: :GET %><span class="fa fa-star notfavorite-btn"></li>
    </ul>
    
    <% @favorite_posts.each do |favorite_post| %>
      <div class="posts-index-item">
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(favorite_post.user.name, "/users/#{favorite_post.user.id}") %>
          </div>
          <%= link_to(favorite_post.content, "/posts/#{favorite_post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>