<%= form_with(model: @post, local: true ,url: choose_new_or_edit ) do |f| %>

  <div class="form">
   <div class="form-body">
       <% @post.errors.full_messages.each do |message| %>
      <div class="form-error">
       <%= message %>
      </div>
      <% end %>
     <%= image_tag(@post.image.url,:size =>'250x200') if @post.image.url %>
     <p>画像を投稿</p>
     <%= f.file_field :image, id: :post_image %>
     <%= f.hidden_field :image_cache %>
     <%= text_area_tag :content, @post.content %>
    <input type="submit" value="投稿を確認" class="btn btn-link">
   </div>
  </div>
  
<% end %>