<div class="main posts-new">
  <div class="container">
  <h1 class="form-heading">投稿内容を確認してください</h1>
  <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <div class="form">
    <div class="form-body">
    <div class="field">
      <%= @post.content %>
      <%= hidden_field_tag :content, @post.content %>
    </div>
    <div class="actions">
      <%= submit_tag '投稿する', name: 'send',class: "btn btn-link"%>
    </div>
    <div class="actions">
      <%= submit_tag '戻る', name: 'back',class: "btn btn-link" %>
    </div>
    </div>
    </div>
　<% end %>
　</div>
</did>
