<!DOCTYPE html>
<html>
  <head>
    <title>BolehBolehApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="./stylesheets/responsive.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("BolehBoleh", "/",class: "btn btn-link" ) %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("BolehBolehとは", "/about",class: "btn btn-link") %>
        </li>
        <li>
          <%= link_to("投稿一覧", "/posts/index",class: "btn btn-link") %>
        </li>
        <li>
          <%= link_to("新規投稿", "/posts/new",class: "btn btn-link") %>
        </li>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>