<!DOCTYPE html>
<html>
  <head>
    <title>BolehBolehApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="./stylesheets/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("BolehBoleh", "/",class: "btn btn-link" ) %>
      </div>
      <ul class="header-menus">
        <% if logged_in? %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
         <li>
          <%= link_to("投稿一覧", posts_path) %>
         </li>
         <li>
            <%= link_to("ユーザー一覧", users_path) %>
          </li>
         <li>
          <%= link_to("新規投稿", new_post_path) %>
         </li>
         <li>
          <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
         </li>
        <% else %>
         <li>
          <%= link_to("BolehBolehとは", "/about") %>
         </li>
         <li>
          <%= link_to "新規登録", new_user_path %>
         </li>
         <li>
          <%= link_to "ログイン", new_session_path %>
         </li>
        <% end %>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>